.container {
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rgb(247, 208, 175);
    width: 100%;
}

.container img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.thick-text {
    font-weight: bold;
    font-size: 18px;
}

.center-column {
    flex-grow: 1;
    text-align: center;
    padding: 0 20px;
    width: 40%;
}

.center-column > div {
    margin-bottom: 10px;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 100%;
    width: 30%;
}

@media (max-width: 768px) {
    .container {
        height: auto;
        flex-direction: column;
    }

    .col {
        width: 100%;
        flex: none;
    }

    .center-column {
        width: 100%;
    }
}
